extends ../layouts/application.pug

block header
  = t('views.users.edit.title')

block content
  +formFor()(action=route('patchUser', { id: String(user.id) }) method='post')
    +input(user, 'email', errors)(type='text' placeholder=t('entities.user.fields.email'))
    +input(user, 'password', errors)(type='password' placeholder=t('entities.user.fields.password'))
    input(name='_method' type='hidden' value='patch')
    +submit(user)(value=t('views.users.edit.submit'))
