extends ../layouts/application.pug

block header
  = t('views.session.new.title')

block content
  +formFor()(action=route('session') method='post')
    +input(signInForm, 'email', errors)(type='text' placeholder=t('entities.user.fields.email'))
    +input(signInForm, 'password', errors)(type='password' placeholder=t('entities.user.fields.password'))
    +submit(signInForm)(value=t('views.session.new.submit'))
